#root {
  margin: auto;
  padding-top: 5em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

.navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 1.3em;
  color: #000000;
}
.navbar .navbar-nav .dropdown-item {
  color: #000000; /* Tekstin väri */
  font-weight: 600; /* Sama fonttipaino kuin muissa linkeissä */
  font-size: 1.2em; /* Varmistetaan yhtenäinen fonttikoko */
}
.navbar .navbar-nav .dropdown-menu {
   /* Sama väri kuin Navbar */
  border: none; /* Poistaa mahdolliset reunukset */
}


.navbar .navbar-nav .nav-link:hover {
color: #000000;
}
.image-gallery {
  width: 100%;
  height: auto;
}
.image-gallery-image {
  border-radius: 10px; 
  overflow: hidden;  
}

.image-gallery-slide img {
  border-radius: 10px; 
  width: 100%;
  height: 400px;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
  border-color: #000000;
}

.fullscreen .image-gallery-slide img {
  height: 100%;
  width: 100%;
  padding-top: 5em;
  background-color: #000000;
}

.react-calendar {
  max-width: 100%;
  background: rgb(255, 255, 255);
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.125em;
  
}
.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  color: white;
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  color: #000000;
  min-width: 44px;
  background: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  color: #000000;
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  color: black;
  max-width: 100%;
  padding: 10px 6.6667px;
  background: rgb(255, 255, 255);
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  border: 2px solid rgb(0, 0, 0);
}
.event-day-red {
  background-color: red; 
  border-radius: 10%;
  color: rgb(255, 255, 255);
}

   