#root {
  margin: auto;
  padding: 6rem;
  text-align: center;
}
.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
  /*
  kalenteri
  */
  .rbc-header{
    color: white;
    background: #17405d;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    }
  .rbc-event, 
  .rbc-background-event{
    padding: 0px;
    border: none;
  }
  .rbc-time-header-cell .rbc-today{
    background-color: #04aa6d;
  }
  

   